<div class="navbar-fixed-top navbar-inverse headroom">
  <div class="container">
    <div class="navbar-header">
      <!-- Button for smallest screens -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" routerLink="">
        <img src="https://o11vcttoe.qnssl.com/images_logo.png"></a>
    </div>

    <div class="navbar-collapse globalnav collapse">
      <ul class="nav navbar-nav pull-left">
        <li [ngClass]="{'active':titleNow==='四川大学信息安全与网络攻防协会'}"><a routerLink="">首页</a></li>
        <!--<li [ngClass]="{'active':titleNow==='博客'}"><a routerLink="/blog">博客</a></li>-->

        <li
          [ngClass]="{'dropdown':true,'active':titleNow==='所有博文'||titleNow==='发博客'||titleNow==='我的博客'}">
          <a class="dropdown-toggle" data-toggle="dropdown">博客<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/blog">所有博文</a></li>
            <li *ngIf="user.user"><a routerLink="/blog/send-post">发博客</a></li>
            <li *ngIf="user.user"><a [routerLink]="'/blog/' + user.user.userName">我的博客</a></li>
          </ul>
        </li>
        <li [ngClass]="{'active':titleNow==='邮箱'}">
          <a routerLink="/mail">邮件平台</a>
        </li>
        <!--<li class="dropdown">-->
        <!--<a class="dropdown-toggle" data-toggle="dropdown">训练中心<b class="caret"></b></a>-->
        <!--<ul class="dropdown-menu">-->
        <!--<li><a routerLink="/train">Online Judge</a></li>-->
        <!--<li><a routerLink="/ctf">ISDCTF</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li><a href="mirrors.scuisdc.org">开源镜像</a></li>-->
        <li [ngClass]="{'dropdown':true,'active':titleNow==='教务信息查询'||titleNow==='孔壕加加加'||titleNow==='矩阵计算器'}">
          <a class="dropdown-toggle" data-toggle="dropdown">公共服务<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/services/jwc">教务信息查询</a></li>
            <li><a routerLink="/services/matrix">矩阵计算器</a></li>
            <!--<li><a routerLink="/services/CTF">CTF平台</a></li>-->
            <!--<li><a routerLink="/services/ctfInfo">CTF信息</a></li>-->
            <!--<li><a routerLink="/services/exploit">Wooyun漏洞查询</a></li>-->
          </ul>
        </li>
        <li
          [ngClass]="{'dropdown':true,'active':titleNow==='社团简介'||titleNow==='社团公告'||titleNow==='提交建议'||titleNow==='联系我们'}">
          <a class="dropdown-toggle" data-toggle="dropdown">关于我们<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/intro/index">社团简介</a></li>
            <li><a routerLink="/intro/announce">社团公告</a></li>
            <li><a routerLink="/intro/suggest">提交建议</a></li>
            <li><a routerLink="/intro/contact">联系我们</a></li>
          </ul>
        </li>

        <!--<form class="navbar-form navbar-left" role="search">-->
        <!--<div class="form-group">-->
        <!--<input type="text" class="nav-form-control" placeholder="Search" id="bdcsMain" required>-->
        <!--</div>-->
        <!--</form>-->
        <li *ngIf="!user.user.userName" [ngClass]="{'active':titleNow==='登录/注册'}"><a routerLink="login">登录/注册</a></li>
        <li *ngIf="user.user.userName"
            [ngClass]="{'dropdown':true,'active':titleNow==='个人中心'}">
          <a class="dropdown-toggle" data-toggle="dropdown">{{user.user.userName}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <!--<li><a routerLink="/user/index">个人中心</a></li>-->
            <li><a (click)="logOut()">退出登录</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-alert class="navbar-fixed-top header-margin"></app-alert>
