<footer id="footer" class="">
  <div class="footer1">
    <div class="container">
      <div class="row">
        <div class="col-md-3 widget">
          <h3 class="widget-title">网站地图</h3>
          <div class="widget-body">
            <p><a routerLink="/">首页</a></p>
            <p><a routerLink="/blog">博客</a></p>
            <p><a routerLink="/train">训练中心</a></p>
            <p><a routerLink="/services">公共服务</a></p>
            <p><a routerLink="/intro">关于我们</a></p>
          </div>
        </div>
        <div class="col-md-3 widget">
          <h3 class="widget-title">关注微信公众号</h3>
          <div class="widget-body">
            <p>公众号：进退之间 微信号：scuisdc</p>
            <img alt="微信公众号" class="img-responsive" src="https://o11vcttoe.qnssl.com/images_qrcode.jpg">
          </div>
        </div>
        <div class="col-md-3 widget">
          <h3 class="widget-title">关注微博公众号</h3>
          <div class="widget-body">
            <p>微博名：scuisdc</p>
            <img alt="微博公众号" class="img-responsive" src="https://o11vcttoe.qnssl.com/images_weibo.jpg">
          </div>
        </div>
        <div class="col-md-3 widget">
          <h3 class="widget-title">友情链接</h3>
          <div class="widget-body">
            <p><a href="http://www.scu.edu.cn" target="_blank">四川大学</a></p>
            <p><a href="http://sw.scu.edu.cn" target="_blank">四川大学软件学院</a></p>
            <p><a href="http://mail.scuisdc.org" target="_blank">ISDC邮箱系统</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 widget">
          <div class="widget-body">
            <p><img alt="知识共享许可协议" style="border-width:0" src="https://o11vcttoe.qnssl.com/images_80x15.png">
              除非另有声明，本网站采用 <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC
                BY-NC-SA 4.0 国际许可协议</a>
            </p>
          </div>
        </div>
        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="text-right">
              Copyright © 2013-2017 四川大学信息安全与网络攻防协会 | <a href="http://www.miitbeian.gov.cn/">蜀ICP备15027397号-1</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
