<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3 class="thin text-center">点击按钮为孔壕增加资产</h3>
      <p class="text-center text-muted">孔壕的资产由大家创造</p>
      <hr/>

      <div class="jumbotron">
        <h1>孔壕资产:</h1>
        <p><span class="glyphicon glyphicon-usd" aria-hidden="true">{{holder.money}}</span></p>
        <p><a class="btn btn-primary btn-lg" role="button"(click)="increaseAsset()">孔壕资产+100</a></p>
      </div>
    </div>
  </div>
</div>
