<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">

      <h3 class="thin text-center">资产加加加</h3>

      <hr/>
      <div *ngIf="!payload.name">
        <label for="name" class="col-sm-2 control-label">姓&nbsp;&nbsp;&nbsp;名</label>
        <div class="col-sm-10">
          <input #RicherName (keyup)="0"  type="text" required class="form-control"
                 id="name"
                 name="name"
                 placeholder="姓名">
        </div>
        <hr/>

        <div class="form-group text-center">
          <button class="btn btn-warning btn-lg"
                  (click)="startWorship(RicherName.value)">确认
          </button>
        </div>
      </div>

      <div class="panel panel-default" *ngIf="holder.money!=undefined&&payload.name">
        <div class="panel-heading">资产加加加
          <button type="button" class="close" (click)="holder.money=undefined;payload.name=undefined"><span
            aria-hidden="true">&times;</span>
          </button>
        </div>
        <h3 class="thin text-center">点击按钮为{{payload.name}}增加资产</h3>
        <p class="text-center text-muted">{{payload.name}}的资产由大家创造</p>
        <hr/>
        <div class="jumbotron">
          <h1>{{payload.name}}资产:</h1>
          <p><span class="glyphicon glyphicon-usd" aria-hidden="true">{{holder.money}}</span></p>
          <p><a class="btn btn-primary btn-lg" role="button" (click)="increaseAsset()">{{payload.name}}资产+100</a></p>
        </div>
      </div>


    </div>
  </div>
</div>
<div class="col-md-3  col-sm-2 ">
  <p>财富top10</p>
  <table class="table">
  <thead >
  <tr>
    <td>姓名</td>
    <td>资产</td>

  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let item of holder.Rank" [ngClass]="{'info':item.selected}" >
    <td>{{item.name}}</td>
    <td>{{item.money}}</td>
  </tr>
  </tbody>
  </table>
</div>
