<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <ul class="list-group">
      <li *ngFor="let mail of mails" class="list-group-item">
        <div class="mail-preview-wrapper" [ngClass]="{'unread': !mail.seen,'active':detail&&mail.id===detail.id}">
          <div class="mail-preview">
            <div class="mail-content">
              <div class="mail-content-top">
                <div class="mail-content-from" (click)="read(mail)" [ngClass]="{'unread': !mail.seen}">
                  {{mail.from.includes(' ') ? mail.from.split(' ')[0] : mail.from}}
                </div>
                <div class="mail-content-operations">
                  <span class="glyphicon mail-operation" (click)="markAsSeen(mail)"
                        [ngClass]="{'glyphicon-open':!mail.seen,'glyphicon-envelope':mail.seen}"
                        aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-trash mail-operation" (click)="deleteMail(mail)"
                        aria-hidden="true"></span>
                </div>
              </div>
              <div class="mail-content-md" (click)="read(mail)" [ngClass]="{'unread': !mail.seen}">
                <div class="mail-content-subject">
                  {{mail.subject}}
                  <span class="mail-content-date">
                    {{parseDate(mail.sendDate)}}
                  </span>
                </div>
              </div>
              <div class="mail-content-btm" (click)="read(mail)">
                <span>{{mail.textBody==null?mail.htmlBody:mail.textBody}}</span>
              </div>
            </div>
          </div>
        </div>
        <!--{{mail.subject}}-->
      </li>
    </ul>
  </div>
  <div class="col-lg-9 col-md-6 col-sm-12 no-padding">
    <div *ngIf="detail">
      <div class="mail-detail-subject">
        {{detail.subject}}
      </div>
      <div class="mail-detail-from">
        {{detail.from.includes(',') ? detail.from.substring(0, detail.from.length - 1) : detail.from}}
      </div>
      <div class="mail-html" [innerHTML]="detail.htmlbody==null?detail.textBody:detail.htmlBody"></div>
    </div>
    <div *ngIf="!detail" class="placeholder">
    </div>
  </div>
</div>
