<div class="container" *ngIf="semester">
  <h2 class="text-center top-space">{{semester.title}}</h2>
  <br>
  <div class="row" *ngFor="let schedule of semester.schedule">
    <h3>{{schedule.target}}</h3>
    <table class="table table-hover table-responsive">
      <tbody>
      <tr>
        <th width="17%">周数</th>
        <th width="17%">日期</th>
        <th width="17%">时间</th>
        <th width="12%">主讲人</th>
        <th width="23%">主讲内容</th>
        <th width="24%">资料</th>
      </tr>
      <tr *ngFor="let course of schedule.course">
        <td>{{course.week}}</td>
        <td>{{course.date}}</td>
        <td>{{course.time}}</td>
        <td>{{course.host}}</td>
        <td>{{course.content}}</td>
        <td>
          <a [href]="file.href" *ngFor="let file of course.files">{{file.name}}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
