<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3 class="thin text-center">教务信息查询</h3>
      <p class="text-center text-muted">放心，我们不会记录你的任何信息：）</p>
      <hr/>
      <form #jwcForm="ngForm" (ngSubmit)="onSubmit()" id="form" class="form-horizontal"
            role="form">
        <div class="form-group {{zjh.dirty&&zjh.invalid?'has-error':''}}">
          <label for="zjh" class="col-sm-2 control-label">学&nbsp;&nbsp;&nbsp;号</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" pattern="[0-9]{13}" minlength="13" maxlength="13" required
                   [(ngModel)]="param.zjh" [disabled]="loading"
                   id="zjh" name="zjh" #zjh="ngModel" placeholder="学号">
          </div>
        </div>
        <div class="form-group">
          <label for="mm" class="col-sm-2 control-label">密&nbsp;&nbsp;&nbsp;码</label>
          <div class="col-sm-10">
            <input [disabled]="loading" type="password" [(ngModel)]="param.mm" required class="form-control" id="mm"
                   name="mm"
                   placeholder="密码">
          </div>
        </div>
        <hr/>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-warning btn-lg" [disabled]="jwcForm.form.invalid||loading">{{status}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
