<!--<div class="container header-padding">-->
<div class="col-md-8">
  <!--<ol class="breadcrumb">-->
  <!--<li>博客</li>-->
  <!--<li class="active">-->
  <!--<a routerLink="/blog">所有博文</a>-->
  <!--</li>-->
  <!--</ol>-->
  <div class="row">
    <div class="col-md-8">
      <!--<h1 class="page-header">所有博文 </h1>-->
      <div id="blog-content">
        <div *ngFor="let post of posts;">
          <h2>
            {{post.title}}
            <small>
              by <a [routerLink]="'./'+post.authorUserName">{{post.authorUserName}}</a>
            </small>
          </h2>
          <p>
            <span class="glyphicon glyphicon-ok"></span>
            发表日期: {{parseDate(post.createDate)}}
          </p>
          <p>
            <span class="glyphicon glyphicon-time"></span>
            最后更新: {{parseDate(post.lastModified)}}
          </p>
          <markdown [data]="post.preview"></markdown>
          <a class="btn btn-primary btn-sm" [routerLink]="'./post/'+post.id">
            阅读更多 <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          <a class="btn btn-primary btn-sm"
             [routerLink]="'./update-post/' + post.id"
             *ngIf="userService.user&&userService.user.userName==post.authorUserName">
            编辑 <span class="glyphicon glyphicon-pencil"></span>
          </a>&nbsp;
          <a class="btn btn-primary btn-sm" (click)="delPost(post.id)"
             *ngIf="userService.user&&userService.user.userName==post.authorUserName">
            删除 <span class="glyphicon glyphicon-remove"></span>
          </a>
          <hr>
        </div>
      </div>
      <div class="pager">
        <nav>
          <ul class="pagination">
            <li class="disabled">
              <a aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li id="page-1">
              <a routerLink="..">1</a>
            </li>
            <li class="disabled">
              <a aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!--<div class="col-md-4">-->
    <!--<div class="well" style="margin-top:10px;">-->
    <!--<h4>博客分类</h4>-->
    <!--<div class="row">-->
    <!--<div class="col-lg-8">-->
    <!--<ul class="list-unstyled">-->
    <!--<li>-->
    <!--<a href="./index.php?page=1">全部博客</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="./index.php?page=1&category=1">开源镜像</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="./index.php?page=1&category=2">JavaScript</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="./index.php?page=1&category=3">Writeup</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>
