/* Header */

.head {
  background: #181015 no-repeat;
  background-size: cover;
  min-height: 520px;
  text-align: center;
  padding-top: 240px;
  color: white;
  font-family: "Open sans", Helvetica, Arial, serif;
  font-weight: 300;
}

.head.secondary {
  height: 100px;
  min-height: 100px;
  padding-top: 0;
}

.head .lead {
  font-family: "Open sans", Helvetica, Arial, serif;
  font-size: 44px;
  margin-bottom: 6px;
  color: white;
  line-height: 1.15em;
}

.head .tagline {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 25px;
}

.head .tagline a {
  color: #fff;
}

.head .btn {
  margin-bottom: 10px;
}

.head .btn-default {
  text-shadow: none;
  background: transparent;
  color: rgba(255, 255, 255, .5);
  -webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .5);
  -moz-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .5);
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .5);
}

.head .btn-default:hover,
.head .btn-default:focus {
  color: rgba(255, 255, 255, .8);
  -webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .8);
  -moz-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .8);
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .8);
  background: transparent;
}

.head .btn-default:active,
.head .btn-default.active {
  color: #fff;
  -webkit-box-shadow: inset 0 0 0 3px #fff;
  -moz-box-shadow: inset 0 0 0 3px #fff;
  box-shadow: inset 0 0 0 3px #fff;
  background: transparent;
}

@media (max-width: 767px) {
  .head {
    min-height: 420px;
    padding-top: 160px;
  }

  .head .lead {
    font-size: 34px;
  }
}

/* Autohide navbar */

.slideUp {
  top: -100px;
}

.headroom {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  z-index: 5;
}

.slogan {
  color: inherit;
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 60px;
  margin-bottom: 0;
}

.jumbotron {
  color: inherit;
  background-color: #F7F5F4;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
}

.container .jumbotron {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-left: 40px;
  padding-right: 40px;
}

.jumbotron p, .detail {
  font-size: 14px;
}

.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6 {
  line-height: 1.3em;
}

.img-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.icon {
  height: 80px;
  width: 80px;
}
