<div class="container header-padding">
  <ol class="breadcrumb">
    <li>博客</li>
    <!--<li class="active"><a routerLink="{{(titleNow=='所有博文')?'/blog/all-post':(titleNow=='发博客'?'/blog/send-post':(titleNow=='我的博客'?'/blog/my-post':'/blog'))}}">{{titleNow}}</a></li>-->
    <li class="active">{{titleNow}}</li>
  </ol>
  <div class="row">
    <article class="col-xs-12 maincontent">
      <header class="page-header">
        <h1 class="page-title">{{titleNow}}</h1>
      </header>
      <router-outlet></router-outlet>
    </article>
  </div>
</div>
